html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#satbuttonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}
#satclickButton {
  background-color: white;
  color: black;
  border: none;
  font-family: tahoma; text-transform: uppercase;
}
#streetsbuttonContainer {
  position: absolute;
  top: 10px;
  right: 100px;
}
#streetsclickButton {
  background-color: white;
  color: black;
  border: none;
  font-family: tahoma; text-transform: uppercase;
}
#zoombuttonContainer {
  position: absolute;
  top: 100px;
  right: 10px;
}
#zoomclickButton {
  background-color: white;
  color: black;
  border: none;
  font-family: tahoma; text-transform: uppercase;
}
